    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">
            </div>    
    <ul class="nav-area">
    <li><a href="/home">Home</a></li>
    <li><a href="/liste">list students</a></li>
    <li><a href="/formulaire">formulaire</a></li>
    <li><a href="/about">About</a></li>
    </ul>
    </div>
    </header>
